// MarketCube.io

// $min-small: 576px;
// $min-medium: 768px;
// $min-large: 992px;
// $min-xl: 1200px;
// --------------------------------------
// Mixin Example
// @include viewport(min, $min-xl)
// --------------------------------------

table {
  thead {
    tr {
      th.nobg {
        background-color: $white !important;
      }
    }
  }
  strong {
    font-size: 20px;
    font-weight: 500;
    sub {
      font-size: 14px;
      bottom: 0;
    }
  }
  .btn.g-button {
    padding: 8px;
    min-width: 120px;
    font-size: 14px;
    color: $white;
    border-color: $c-green;
    &:hover {
      background: $c-green;
      color: $white;
    }
  }
  li {
    font-size: 13px;
  }
}
.accordion {
  > .card {
    > .card-header {
      border-radius: 6px;
      background: #f2f3f4;
      cursor: pointer;
      padding: 15px 40px 15px 15px;
      border: 0;
      font-size: 15px;
      position: relative;
      &:after {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(0);
        font-size: 25px;
        content: "\f107";
        font-family: FontAwesome;
        line-height: 1;
        transition: all 0.3s ease-in-out;
        color: #9696a5;
      }
    }
    > .card-open.card-header {
      &:after {
        transform: translateY(-50%) rotate(180deg);
        color: #13152d;
      }
    }
  }
}
.table {
  min-width: 600px;
  td {
    border: 0;
    font-size: 14px;
    color: #333;
    width: 200px;
  }
  thead {
    th {
      border: 0;
    }
  }
}
h5.sub-heading {
  font-size: 19px !important;
}
.features-table {
  .table {
    td {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
.transparent-row {
  background: transparent;
}
th.borderBottom {
  border-bottom: 1px dotted #9696a5 !important;
  background: transparent;
}
.table-header {
  .feature-price-table {
    background-color: $white;
    box-shadow: 0 0 13px 5px black(0.1);
    border: 1px solid #ccc;
  }
  display: none;
}
.small-text {
  a {
    color: #333;
  }
}
.view-all-features {
  a {
    color: $c-light-green;
  }
}
.custom-checkbox {
  label {
    position: relative;
    width: 59px;
    height: 28px;
    background-color: $c-green;
    border-radius: 28px;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    span {
      position: absolute;
      content: "Monthly";
      left: -70px;
      top: 3px;
      font-weight: 600;
      left: -78px;
      top: 3px;
      font-weight: 600;
      font-size: 16px;
      pointer-events: none;
    }
    &:after {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 3px;
      content: "";
      left: 5px;
      border-radius: 50%;
      background: #f2f3f4;
      transition: all 0.3s ease-in-out;
    }
  }
  input {
    display: none;
    &:checked {
      + {
        label {
          span {
            font-weight: 400;
          }
          &:after {
            left: 34px;
          }
        }
      }
      ~ {
        span {
          font-weight: 600;
        }
      }
    }
    ~ {
      span {
        width: 65px;
        font-size: 16px;
      }
    }
  }
}
.content-body {
  padding: 0 12px;
}
.feature-price-table {
  thead {
    tr {
      font-weight: 500;
      font-size: 17px;
    }
  }
}
.setup-content {
  h4 {
    font-size: 19px;
    line-height: 1;
  }
  span {
    color: $c-text;
    font-size: 19px;
  }
  .onetime {
    font-size: 14px;
  }
}
.onetime {
  &:after {
    content: "";
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    background: $c-pink;
  }
}
.card-header {
  padding: 0.75rem;
  font-weight: 500;
  background-color: $white;
  border: 0;
}
h4.card-header {
  font-size: 22px;
}
@include viewport(min, $min-small) {
  .setup-content {
    h4 {
      font-size: 22px;
    }
    span {
      font-size: 22px;
    }
  }
}
@include viewport(min, $min-large) {
  .content-body {
    padding: 0 30px;
    p {
      color: #14162d;
    }
  }
  table {
    strong {
      font-size: 26px;
    }
  }
  .table-header.sticky {
    top: 76px !important;
    z-index: 100;
    display: block;
  }
}
